.container{
    margin-bottom: 50px;
}
.bgcolor{
    background-color: aqua;
    border-radius: 20px;
}
.price{
    color: brown;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    padding: 9px 25px;
    cursor: pointer;
}
.carousel-item{
    padding: 125px 125px;
}
.card{
    border: none;
    border-radius: 12px;
    box-shadow: 7px 7px 20px grey;
    padding: 20px;
    text-align: center;
}
.card-footer{
    background-color: white;
    border-top: none;
}

hr{
    background-color:  #f78316;
    padding: 3px;
    width: 70px;
    border-radius: 10px;

}
.sizing{
    margin-bottom: 30px;
}

.perfume-shoe{
    box-shadow: 10px 10px 40px rgb(221, 225, 243);
    border-radius: 10px 5px 20px 5px;
    padding: 50px;
    margin-left: 30px;
    margin-top: 30px;
}

#bag{
    box-shadow: 10px 10px 40px rgb(221, 225, 243);
    padding: 50px;
    border-radius: 5px 10px 5px 20px;
    
}
.alignment{
    text-align: center;
}